<section id="exercise-list" >
  <div class="row">
      <ngb-carousel *ngIf="images">
        <ng-template *ngFor="let exercise of loadedExercises" ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[0]" alt="Random first slide" class="mh-100" style="width: 1200px; height: 50vh">
          </div>
          <div class="carousel-caption">
            <h2>{{ exercise.name }}</h2>
            <p><strong>Type </strong>{{ exercise.type }}</p>
            <p><strong>Difficulty </strong>{{ exercise.difficulty }}</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <app-exercise-item
          *ngFor="let exerciseItem of loadedExercises"
          [exercise]="exerciseItem"
          (exerciseSelected)="onExerciseSelected(exerciseItem)">
        </app-exercise-item>
      </div> 
    </div>
</section>

