<a 
  href="#" 
  class="list-group-item clearfix"
  (click)="onSelected()"
>
  <div class="pull-left" style="margin-right: 20px;">
    <h4 class="list-group-item-heading">
      {{exercise.name}} 
    </h4>
    <p class="list-group-item-text">
      {{exercise.difficulty}}
    </p>
  </div>
  <div>
    <button>Update</button>
  </div>
  <span class="pull-right">
    <img 
      src="https://cdn2.coachmag.co.uk/sites/coachmag/files/styles/16x9_480/public/2018/07/beginner-strength-workout.jpg?itok=u65uXRDW&timestamp=1531218145" 
      class="ing-responsive"
      style="max-width: 100px;"
    >
  </span>
</a>
