<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <div class="container">

    <!-- <div class="navbar-header"> -->
      <a routerLink="/" class="navbar-brand">Start your magic yourney with us</a>
      <button 
        class="navbar-toggler" 
        (click)="collapsed = !collapsed"
        data-toggle="collapse"
        data-target="#navbarCollapse"
      >
        <span 
          class="navbar-toggler-icon" 
          *ngFor="let iconBar of [1, 2, 3]">
        </span>
      </button>
    <!-- </div> -->

    <div 
      class="collapse navbar-collapse"
      id="navbarCollapse"
    >
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link"href="#" (click)="onSelect('add-exercise')">Add exercise</a></li>
        <li class="nav-item">
          <a class="nav-link"href="#" (click)="onSelect('exercise')">Exercises</a></li>
        <li class="nav-item">
          <a class="nav-link"href="#" (click)="onSelect('workout')">Workouts</a></li>
        <li class="nav-item">
          <a class="nav-link"href="#" (click)="onSelect('startPage')">Login</a></li>
        <!-- <li class="nav-item">
          <a
            class="nav-link" 
            href="#" 
            routerLinkActive="active"
            (click)="onSaveData()"
          >Save Data</a>
        </li>
        <li><a href="#"></a></li> -->
      </ul>
      <!-- <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer">Save data</a></li>
            <li><a style="cursor: pointer">Fetch data</a></li>
          </ul>
        </li>
      </ul>  -->
    </div>


  </div>
</nav>
