<div 
  class="row main">
  <div class="col-xs-12">
    <form>
      <div class="row">

        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input 
            type="text" 
            id="name" 
            class="form-control"
            #nameInput
          >
        </div>

        <div class="col-sm-2 form-group">
          <label for="type">type</label>
          <input 
            type="text" 
            id="type" 
            class="form-control"
            #typeInput
          >
        </div>

        <div class="col-sm-2 form-group">
          <label for="difficulty">difficulty</label>
          <input 
            type="text" 
            id="difficulty" 
            class="form-control"
            #difficultyInput
          >
        </div>

        <div class="col-sm-2 form-group">
          <label for="mobility">mobility</label>
          <input 
            type="text" 
            id="mobility" 
            class="form-control"
            #mobilityInput
          >
        </div>

        <div class="col-sm-2 form-group">
          <label for="picture">picture URL</label>
          <input 
            type="text" 
            id="picture" 
            class="form-control"
            #pictureInput
          >
        </div>

        <mat-radio-group aria-label="Select a body part">
          <mat-radio-button value="1" #bodyPartInput>Upper</mat-radio-button>
          <mat-radio-button value="2" #bodyPartInput>Lower</mat-radio-button>
          <mat-radio-button value="3" #bodyPartInput>Back</mat-radio-button>
          <mat-radio-button value="4" #bodyPartInput>Chest</mat-radio-button>
          <mat-radio-button value="5" #bodyPartInput>Legs</mat-radio-button>
          <mat-radio-button value="6" #bodyPartInput>Abs</mat-radio-button>
        </mat-radio-group>

      <div class="row">
        <div class="col-xs-12">
          <button 
            class="btn btn-success" 
            type="submit"
            (click)="onAddItem()">Add</button>
          <button 
            class="btn btn-danger" 
            type="button">Delete</button>
          <button 
            class="btn btn-primary" 
            type="button">Clear</button>
        </div>
      </div>



    </div>
    </form>
  </div>
</div>
<br/>
<br/>


