<div class="row">
  <div class="col-xs-12">
    <img 
      src="https://cdn2.coachmag.co.uk/sites/coachmag/files/styles/16x9_480/public/2018/07/beginner-strength-workout.jpg?itok=u65uXRDW&timestamp=1531218145"
      alt="{{ exercise.name }}"
      class="img-responsive"
    >
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h1>{{ exercise.name }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4>{{ exercise.difficulty }}</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4>{{ exercise.timeNeeded }}</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group" appDropdown> 
        <button 
          type="button" 
          class="btn btn-primary dropdown-toggle"
        >
          Read more<span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">To list</a></li>
          <li><a href="#">Edit</a></li>
          <li><a href="#">Manage</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      {{ exercise.description }}
    </div>
  </div>
</div>