<div class="div">
  <header id="login-section">
    <div class="dark-overlay">
      <div class="login-inner container">
        <div class="row">
          <div class="col-lg-8 d-none d-lg-block">
            <h1 class="display-4">Your own
              <strong>workout</strong> planner
              <strong>for all days</strong> in week
            </h1>

            <div class="d-flex">
              <div class="p-4 align-self-start">
                <fa-icon [icon]="faCheck"></fa-icon>
              </div>
              <div class="p-4 align-self-end mainText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet aliquid laudantium magni sequi repellat, expedita adipisci? Expedita dolorum dicta temporibus.
              </div>
            </div>

            <div class="d-flex">
              <div class="p-4 align-self-start">
                <fa-icon [icon]="faCheck"></fa-icon>
              </div>
              <div class="p-4 align-self-end mainText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet aliquid laudantium magni sequi repellat, expedita adipisci? Expedita dolorum dicta temporibus.
              </div>
            </div>

            <div class="d-flex">
              <div class="p-4 align-self-start">
                <fa-icon [icon]="faCheck"></fa-icon>
              </div>
              <div class="p-4 align-self-end mainText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet aliquid laudantium magni sequi repellat, expedita adipisci? Expedita dolorum dicta temporibus.
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card darkViolet text-center card-form">
              <div class="card-body">
                <h3>Sign in</h3>
                <p>Fill out fields below</p>
              </div>
              <form>
                <div class="form-group">
                  <input 
                    type="text" 
                    class="form-control form-control-lg"
                    placeholder="Username">
                </div>
                <div class="form-group">
                  <input 
                    type="password" 
                    class="form-control form-control-lg"
                    placeholder="Password">
                </div>
                <div class="form-group">
                  <input 
                    type="submit" 
                    value="Submit"
                    class="btn btn-outline-light btn-block">
                </div>
              </form>
              <p>Sign up</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
