#login-section {
  background: url('../../assets/images/mountains1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

#login-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgba(0, 0, 0, 0.7);
}

#login-section .login-inner {
  padding-top: 150px;
}

#login-section .card-form {
  opacity: 0.8;
}

#login-section .card-form {
  color:#fff
}

fa-icon {
  color: #0d7373;
  background: #ffffff;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.darkViolet {
  background-color: #5c0d01;
}

#login-section .login-inner h1 {
  color: #b59191;
}

#login-section .mainText {
  color: #fff;
}



.form-group {
  padding: 10px;
}