<app-header
  (featureSelected)="onNavigate($event)"
></app-header>

<div class="container">
  <div class="row">
    <app-exercises 
      *ngIf="loadedFeature === 'exercise'"></app-exercises>
    <app-form-add-exercise
      *ngIf="loadedFeature === 'add-exercise'"></app-form-add-exercise>
    <app-workout
      *ngIf="loadedFeature === 'workout'"></app-workout>
    <app-start-page
      *ngIf="loadedFeature === 'startPage'"></app-start-page>
  </div>
</div>
