<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{ workout.name }}</mat-card-title>
      <mat-card-subtitle>DAY {{ workout.day }}</mat-card-subtitle>
    </mat-card-header>
    <div class="view overlay">
      <img 
        mat-card-image
        src="https://www.wellandgood.com/wp-content/uploads/2019/04/GettyImages-woman-workout-tired-svetikd-1.jpg" 
        alt="Photo of a workout"
        class="img-fluid"
      >
    </div>
    <mat-card-content>
      <p>DAY</p>
      <p>TIME NEEDED</p>
      <p>BLA</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="accent">DETAILS</button>
      <button mat-button color="accent">UPDATE</button>
    </mat-card-actions>
  </mat-card>
  <br/>
  <br/>
  