.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

/* .cardButton {
  color: rgb(37, 36, 33);
  background-color: rgb(126, 70, 17);
} */

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}