<div>
  <app-exercise-list
    (exerciseWasSelected)="selectedExercise = $event"
    (exerciseAdded)="onExerciseAdded($event)"
  ></app-exercise-list>
  <app-exercise-details
    *ngIf="selectedExercise; else infoText"
    [exercise]="selectedExercise"></app-exercise-details>
  <ng-template #infoText>
    <h2>Select a exercise!</h2>
  </ng-template>
</div>
