<header id="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto text-center">
        <h1>Your Workouts</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere eaque blanditiis atque dolorem, iusto eligendi?</p>
      </div>
    </div>
  </div>
</header>

<section id="workouts" class="py-5">
  <div class="container">
    <div class="row">
      <div class="row card-group">

      <div class="col-md-4">
        <div class="card text-center">
          <img src="../../assets/images/mountains2.webp" alt="" style="height: 150px;">
          <div class="card-header bg-dark text-white">
            <h2>Workout1</h2>
          </div>
          <div class="card-body">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, sed.</p>
          </div>
        </div>

        <div class="card p-3 bg-danger text-white" >
          <blockquote class="card-blockquote card-body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus odit eveniet, incidunt aliquid nisi corrupti!</p>
            <footer class="blockquote-footer">
              <small class="text-white">Bla Bla Bla <cite title="Source Title">Titleee</cite></small>
              <hr>
            </footer>
          </blockquote>
        </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center">
              <img src="../../assets/images/forest1.jpg" alt="" style="height: 150px;">
              <div class="card-header bg-dark text-white">
                <h2>Workout 2</h2>
              </div>
              <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, sed.</p>
              </div>
            </div>
    
            <div class="card p-3 bg-danger text-white" >
              <blockquote class="card-blockquote card-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus odit eveniet, incidunt aliquid nisi corrupti!</p>
                <footer class="blockquote-footer">
                  <small class="text-white">Bla Bla Bla <cite title="Source Title">Titleee</cite></small>
                  <hr>
                </footer>
              </blockquote>
            </div>
            </div>


          
        <div class="col-md-4">
            <div class="card text-center">
              <img src="../../assets/images/bikeMountainsMan.jpg" alt="" style="height: 150px;">
              <div class="card-header bg-dark text-white">
                <h2>Workout 3</h2>
              </div>
              <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, sed.</p>
              </div>
            </div>
    
            <div class="card p-3 bg-danger text-white" >
              <blockquote class="card-blockquote card-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus odit eveniet, incidunt aliquid nisi corrupti!</p>
                <footer class="blockquote-footer">
                  <small class="text-white">Bla Bla Bla <cite title="Source Title">Titleee</cite></small>
                  <hr>
                </footer>
              </blockquote>
            </div>
            </div>
      </div>
    </div>
  </div>
</section>

<div class="row">
  <app-workout-list
    (workoutWasSelected)="selectedWorkout = $event"
  ></app-workout-list>
</div>
