#page-header {
  height: 250px;
  background: url('../../assets/images/barbell1.jpg');
  /* background-position: 0 -360px; */
  background-attachment: fixed;
  color: #ffffff;
  border-bottom: 1px #eee solid;
  padding-top: 80px;
}

.about-img {
  margin-top: -50px;
}

#faq .card {
  border: #444444;
}

#faq a {
  color: #ffffff;
  text-decoration: none;
}

#fac .card-body,
#fac .card-header {
  background: #333333;
}




