#description-section .fas {
  background: #03453a;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

#description-head-section {
  background-color: #821800;
  color: #ffffff;
}

#content-login-section {
  padding: 5px;
}
