<section id="description-head-section">
  <div class="container">
    <div class="row">
      <div class="col text-center py-5">
        <h1 class="display-4">Progress Analyzer</h1>
        <p class="lead"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur temporibus totam dolorem fugiat veniam. Ut.</p>
        <a 
          href="Click me" 
          class="btn btn-outline light" 
          style="color: white;">READ MORE</a>
        
      </div>
    </div>
  </div>
</section>

<section 
  id="description-section"
  class="py-5"
>
  <div class="container">
    <div class="row">
      <div class="col-md-6 order-2">  
        <img 
          src="../../assets/images/barbell1.jpg" 
          alt="" 
          class="img-fluid mb-3 rounded-circle">
      </div>
      <div class="col-md-6 order-1">
        <h3>Lorem ipsum dolor sit amet.</h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus excepturi minima inventore beatae quos mollitia?
        <div class="d-flex">
          <div class="p-4 align-self-start">
            <fa-icon [icon]="faCheck" class="fas"></fa-icon>  
          </div>
          <div class="p-4 align-self-end">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, assumenda!
          </div>
        </div>
        <div class="d-flex">
          <div class="p-4 align-self-start">
            <fa-icon [icon]="faCheck" class="fas"></fa-icon>  
          </div>
          <div class="p-4 align-self-end">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, assumenda!
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 