/* You can add global styles to this file, and also import other style files */


body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  /* color: #ffffff; */
}

/* .navbar {
  border-bottom: #4d3e3e 3px solid;
  opacity: 0.8;
} */


